.popup {
    .canvas {
        position: absolute;
        right: 0;
        top: 277rpx;
    }
    Image {
        position: fixed;
        right: 0;
        top: 277rpx;
        width: 180rpx;
        height: 151rpx;
    }    
}
