.look-early {
    text-align: center;
    padding: 26rpx;
  
    &>text {
      font-family: PingFangSC-Regular;
      font-size: 28rpx;
      color: #909090;
    } 
}
.nothing {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

}