$base_url: 'https://appd.knowbox.cn/ss/miniapp/ele_game_register';

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
}

.modal-container {
    width: 580rpx;
    background-color: #fff;
    border-radius: 30rpx;
    text-align: center;
    position: relative;
    &.modal-pay {
        height: 400rpx;
    }
    &.modal-guide {
        width: 500rpx;
        height: 710rpx;
        padding: 0 40rpx;
    }

    .modal-btn-close {
        width: 62rpx;
        height: 62rpx;
        background: url(#{$base_url}/modal-close.png) no-repeat;
        background-size: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.title {
    color: #56546c;
    font-size: 40rpx;
    font-weight: bold;
    padding-top: 75rpx;
}

.input-cellphone {
    width: 400rpx;
    height: 68rpx;
    border: 2rpx solid #dadada;
    border-radius: 10rpx;
    margin: 30rpx auto;
    padding: 5rpx 15rpx;
    font-size: 30rpx;
    color: #666;
}

.btn-pay {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    &::after {
        border: none;
    }
    height: 100rpx;
    line-height: 100rpx;
    background-color: #ff6716;
    color: #fff;
    font-size: 32rpx;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
