.text-middle {
  display: flex;
  align-items: center;
}
.name {
	font-size: 30rpx;
	color: #727786;
}

.time {
  font-family: PingFangSC-Regular;
	font-size: 22rpx;
	line-height: 36rpx;
	color: #b4b4b4;
}

//  .like-notification {
//   height: 1px;
// 	background-color: #ebebeb;
//  }